<div class="file-container">
    <div class="file-item file-heading">
        <md-icon class="mr-2 pointer">assessment</md-icon> Questions
        <div class="spacer"></div>   
        <div tabindex=0 class="file-item pointer" (keyup.enter)="newQuestionCreation()" (click)="newQuestionCreation()" alt="Add Assessment" >
            <md-icon >add</md-icon>
        </div>
    </div>

    <div *ngIf="currentData.questions.length < 1">
        There are no questions for this mini topic yet.
        Add some!
    </div>

    <div class="file-item"  
    [ngClass]="{ 'selectedItem': currentQuestion.id === question.id}"
    *ngFor="let question of currentData.questions">
    <div class="spacer" (click)="selectQuestion(question)" (keyup.enter)="selectQuestion(question)">
        <i class="fa fa-lg fa-question-circle mr-2 ml-1"></i> {{question.question | summary:'12'}}       
    </div>
        <div class="file-stack">
            <md-icon class="ml-2" class="pointer" tabindex=0 (click)="selectQuestion(question)" (keyup.enter)="selectQuestion(question)">edit</md-icon>
            <md-icon class="ml-2" class="pointer" tabindex=0 (click)="verifyDeleteQuestion(question)" (keyup.enter)="verifyDeleteQuestion(question)">delete</md-icon>
        </div>
    </div>
</div>

<div class="dead-container" *ngIf="loading">
  <md-spinner class="dead-center"></md-spinner>
</div>