<div class="file-container">
    <div class="file-item file-heading">
            <md-icon *ngIf="mode == 'Create'" class="mr-2">add</md-icon> 
            <md-icon *ngIf="mode == 'Edit'" class="mr-2">edit</md-icon> 
            {{mode}} Question
       <div class="spacer"></div>
    </div>
    <br>

    <div class="file-item">
        <md-select class="full-width" placeholder="Type" [(ngModel)]="questionType" (ngModelChange)="onSelectChange()">
            <md-option *ngFor="let type of questionTypes" [value]="type.code">{{ type.name }}</md-option>
        </md-select>
    </div>

    <div #host></div>
</div>