<div class="file-container">
    <div *ngIf="active">    
        <div class="file-item file-heading">
            Preview Content Item
        </div>  
        
        <div *ngIf="active" class="card revision-card">
            <div class="card-head">{{contentItem.name}}</div>
            <img *ngIf="contentItem?.image" [src]="contentItem.image.objectURL" class="revision-card-image">
            <img *ngIf="contentItem?.imageUrl && !contentItem?.image" [src]="base+contentItem?.imageUrl" class="revision-card-image">
            {{currentData?.image?.objectURL}}
            <div class="card-content justify" [innerHTML]="contentItem.content"></div>
        </div>
    </div>
</div>