<form *ngIf="active" class="material-form" #nameEditForm="ngForm">
    <div class="file-item file-heading">
        Create Content Item
    </div>   

    <div class="file-item file-subheading">
        <span class="fa-stack fa-1x mr-1">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x calendar-text text-white">1</strong>
        </span>
        Choose a name
    </div>

    <md-input-container class="full-width">

        <input mdInput name="name" [(ngModel)]="currentData.name" type="text" placeholder="Name - describe the mini-topic" required (keyup.enter)="submit()">
        <md-error>Name is required</md-error>
    </md-input-container> 
    <br>
    <div [hidden]="!error" class="alert alert-danger mt-5">{{ errorMessage }}</div>
    

    <div class="file-item file-subheading">
        <span class="fa-stack fa-1x mr-1">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x calendar-text text-white">2</strong>
        </span>
        Upload an Image (optional - drop or choose)</div>
    <p-fileUpload name="image" auto="true" showCancelButton="false" customUpload="true" (uploadHandler)="fileUpload($event)" accept="image/*" maxFileSize="1000000">
        
        <ng-template pTemplate="content">
            <div *ngIf="file?.name == null">Drop an image here to upload</div>
            <div *ngIf="file?.name != null">
                Current File: {{file.name}}
            </div> 
        </ng-template>
        
        <ng-template let-file pTemplate="file">
            <div><img width="45" [src]="file.objectURL"></div>
        </ng-template> 

        

    </p-fileUpload>

     


    <div class="file-item file-subheading">
        <span class="fa-stack fa-1x mr-1">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x calendar-text text-white">3</strong>
        </span>
        Provide Revision Content
    </div>

    <p-editor name="content" [(ngModel)]="currentData.content" [style]="{'height':'320px'}">
        <p-header>
            <button title="Bold" aria-label="Bold" class="ql-bold" type="button"></button>
            <button title="Italic" aria-label="Italic" class="ql-italic" type="button"></button>
            <button title="Underline" aria-label="Underline" class="ql-underline" type="button"></button>
            <button title="Strikethrough" aria-label="Strikethrough" class="ql-strike" type="button"></button>
            <button title="Code" aria-label="Code-block" class="ql-code-block" type="button"></button>
        </p-header>    
    </p-editor>    
    
    <button md-raised-button class="mt-2" color="accent" type="button" (click)="onSubmit()"  [disabled]="!nameEditForm.valid">{{ editText }}</button> 


</form>  