<div class="title">Package Management</div>
<div class="container">
<div class="row">
    <div [ngClass]="{ 'col-md-4': itemCreating || itemEditing || itemAssessment, 'col-md-12': !itemCreating && !itemEditing && !itemAssessment }">
        <div class="panel-container">
            <div class="file-container">
                <div *ngIf="currentPackage != null">
                    <div class="file-item file-heading">
                        <md-icon class="mr-2 pointer" (click)="navigateBack()" (keyup.enter)="navigateBack()">note</md-icon> {{currentPackage?.name}}
                        <div class="spacer"></div>   
                        <div class="file-item pointer" (keyup.enter)="toggleItemCreation()" (click)="toggleItemCreation()" >
                            <md-icon tabindex=0 alt="Add Content Item">add</md-icon>
                        </div>
                    </div>

                    <div class="" *ngIf="currentPackage?.content.length < 1">
                        <p>This package currently holds no content. </p>

                        <p>Add some!</p>
                    </div>

                    <div class="file-item" *ngFor="let item of currentPackage?.content" [ngClass]="{ 'selectedItem': currentContentItem.id === item.id}">
                        <div class="file-item pointer spacer" (keyup.enter)="toggleItemEditing(item)" (click)="toggleItemEditing(item)" alt="Edit Content Item">
                        <md-icon class="mr-2">assignment</md-icon> {{ item.name }}   
                        <div class="spacer"></div>   
                        </div>
                        <md-icon class="pointer mr-2" tabindex=0 (keyup.enter)="toggleItemEditing(item)" (click)="toggleItemEditing(item)" alt="Assessment">edit</md-icon>                            
                        <md-icon class="pointer mr-2" tabindex=0 (keyup.enter)="toggleAssessment(item)" (click)="toggleAssessment(item)" alt="Assessment">assessment</md-icon>                            
                        <md-icon class="pointer" tabindex=0 (keyup.enter)="confirmItemDelete(item)" (click)="confirmItemDelete(item)" alt="Delete">delete</md-icon>                    
                    </div>   

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" *ngIf="itemCreating || itemEditing">
        <div class="panel-container">
            <content-item-edit [active]="itemCreating || itemEditing" [currentData]="currentContentItem" [element]="itemName" [packageId]="currentPackage?.id" (submit)="saveItem()" (valueChange)="onValueChange($event)"></content-item-edit>
        </div>
    </div>

    <div class="col-md-4" *ngIf="itemCreating || itemEditing">
        <div class="panel-container">
            <content-item-card [active]="itemCreating || itemEditing" [contentItem]="currentContentItem"></content-item-card>
        </div>
    </div>

    <div class="col-md-4" *ngIf="itemAssessment">
        <div class="panel-container">
            <content-item-questions [currentData]="currentContentItem"
                                    [currentQuestion] ="currentQuestion"
                                    (questionSelected)="onQuestionSelected($event)"
            ></content-item-questions>
        </div>
    </div>
    
    <div class="col-md-4" *ngIf="itemAssessment">
        <div class="panel-container">
            <content-item-question-edit (saved)="onQuestionSave($event)"
                                        [contentItem]="currentContentItem"
                                        [question]="currentQuestion"
            ></content-item-question-edit>
        </div>
    </div>

</div>
</div>


<md-spinner class="dead-center" *ngIf="loading"></md-spinner>