     
<div *ngIf="active" class="card revision-card">
    <div *ngIf="contentItem?.name" class="card-head">{{contentItem.name}}</div>
    <div *ngIf="!contentItem?.name" class="card-head">Title</div>
    <img *ngIf="contentItem?.image" [src]="contentItem.image.objectURL" class="revision-card-image">
    <img *ngIf="contentItem?.imageUrl && !contentItem?.image" [src]="base+contentItem?.imageUrl" class="revision-card-image">
    {{currentData?.image?.objectURL}}
    <div *ngIf="contentItem?.content" class="card-content justify" [innerHTML]="contentItem.content"></div>
    <div *ngIf="!contentItem?.content" class="card-content justify">Card content</div>
    <div *ngIf="delivery">
        <button class="card-content ml-2 mb-2" md-raised-button tabindex=0 (click)="notifyTest()" (keyup.enter)="notifyTest()">Test me</button>
    </div>
</div>