<div class="title">Cohort Management</div>
<div class="panel-container">
    <div class="file-container" *ngIf="!loading">
        
        <div class="file-item middle">
            <md-icon class="mr-2 pointer" tabindex=0 (click)="navigateBack()" (keyup.enter)="navigateBack()" alt="Back">keyboard_backspace</md-icon>
            <span class="spacer"></span>           
            <md-icon (click)="togglePopulate()" (keyup.enter)="togglePopulate()" tabindex=0 class="pointer mr-5" alt="Populate" *ngIf="path != '/'">person_add</md-icon>   
            <md-icon (click)="toggleUpdate()" (keyup.enter)="toggleUpdate()" tabindex=0 class="mr-5 pointer" *ngIf="path != '/'" alt="Edit">edit</md-icon>
            <md-icon class="pointer mr-5" tabindex=0 (click)="confirmDelete(currentParent)" (keyup.enter)="confirmDelete(currentParent)" *ngIf="path != '/'" alt="Delete">delete_forever</md-icon>               
            <md-icon (click)="toggleSave()" (keyup.enter)="toggleSave()" tabindex=0 class="pointer" alt="New">create_new_folder</md-icon>
        </div>
        <div class="file-item" >
            <md-icon class="pointer" tabindex=0 (click)='resetNavigation()' (keyup.enter)="resetNavigation()">keyboard_arrow_right</md-icon> {{ path }}            
            <span class="spacer"></span >
        </div>
        
        <form *ngIf="saving || updating" class="material-form" #createCohortForm="ngForm">
        <div class="row">  
            <div class="col-9">   
                <md-input-container class="full-width">
                    <input mdInput name="name" [(ngModel)]="name" type="text" placeholder="Cohort name" required>
                    <md-error>Name is required</md-error>
                </md-input-container>
            </div>
            <div class="col-3"> 
                <span class="spacer"></span >
                <button md-raised-button class="mt-2" color="accent" type="button" (click)="submitData()" [disabled]="!createCohortForm.valid">{{ editText }}</button> 
            </div>
        </div>       
        <br>
        <div [hidden]="!error" class="alert alert-danger mt-5">{{ errorMessage }}</div>
    </form>        
        <div class="file-item pointer middle" *ngFor="let cohort of displayCohortData" (click)="navigate(cohort)">
            <md-icon class="mr-2" (keyup.enter)="navigate(cohort)" tabindex=0 >folder</md-icon>  {{ cohort.name }}
        </div>
        <div class="file-subheading" *ngIf="currentParent?.members?.length > 0">{{currentParent?.name}} Members</div>



        <form [formGroup]="populateUsersForm" *ngIf="populating">
            <md-input-container>
                <input mdInput placeholder="User" [mdAutocomplete]="auto" [formControl]="usersControl">
            </md-input-container>

            <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayUserAutocomplete">
                <md-option (onSelectionChange)="attachUser(user)" *ngFor="let user of filteredUsers | async" [value]="user">{{ user.firstName }} {{ user.surName }}</md-option>
            </md-autocomplete>
        </form>


        <div class="file-item" *ngFor="let member of currentParent?.members">
            <md-icon>person</md-icon> {{ member.firstName }} {{ member.surName }}            
            <span class="spacer"></span >
            <md-icon class="pointer" tabindex=0 (keyup.enter)="confirmUserUnlink(currentParent, member)" (click)="confirmUserUnlink(currentParent, member)" alt="Unlink">delete</md-icon>    
        </div>        
    </div>
</div>


<md-spinner class="dead-center" *ngIf="loading"></md-spinner>