<form class="form-signin">
<h2 class="form-signin-heading">Sign in</h2>
<label for="inputUsername" class="sr-only">Email address</label>
<input type="text" id="inputUsername" 
    class="form-control" 
    placeholder="Email address" autofocus required minlength="4" maxlength="24">
    <br>
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
<button [disabled]="disabled" class="btn btn-primary" type="submit">Sign in</button>
</form>