<!-- <md-toolbar color="primary"> -->

  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-brand">>Reprompt</div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" [ngClass]="{ 'active': router.url === '/' }" *ngIf="authenticated">
        <div class="nav-link pointer" tabindex=0 (click)="redirect('/')" (keyup.enter)="redirect('/')"><i class="fa fa-home" aria-hidden="true"></i> Home</div>
      </li>

      <!-- students -->
      <li class="nav-item" [ngClass]="{ 'active': router.url.startsWith('/manage') }" *ngIf="authenticated && !user.isEducator">
        <div class="nav-link pointer" tabindex=0 (click)="redirect('manage/')" (keyup.enter)="redirect('manage/')"><i class="fa fa-clipboard" aria-hidden="true"></i> Manage</div>
      </li>

      <li class="nav-item" [ngClass]="{ 'active': router.url.startsWith('/progress') }" *ngIf="authenticated && !user.isEducator">
        <div class="nav-link pointer" tabindex=0 (click)="redirect('progress/')" (keyup.enter)="redirect('progress/')"><i class="fa fa-line-chart" aria-hidden="true"></i> Progress</div>
      </li>

      <li class="nav-item" [ngClass]="{ 'active': router.url.startsWith('/study') }" *ngIf="authenticated && !user.isEducator">
        <div class="nav-link pointer" tabindex=0 (click)="redirect('study/')" (keyup.enter)="redirect('study/')"><i class="fa fa-check-square-o" aria-hidden="true"></i> Study</div>
      </li>

      <!-- educators -->
      <li class="nav-item" [ngClass]="{ 'active': router.url.startsWith('/cohorts') }" *ngIf="authenticated && user.isEducator">
        <div class="nav-link pointer" tabindex=0 (click)="redirect('cohorts/')" (keyup.enter)="redirect('cohorts/')"><i class="fa fa-university" aria-hidden="true"></i> Cohorts</div>
      </li>

      <li class="nav-item" [ngClass]="{ 'active': router.url.startsWith('/content') }" *ngIf="authenticated && user.isEducator">
        <div class="nav-link pointer" tabindex=0 (click)="redirect('content/')" (keyup.enter)="redirect('content/')"><i class="fa fa-file" aria-hidden="true"></i> Content</div>
      </li>

      <li class="nav-item" [ngClass]="{ 'active': router.url.startsWith('/publish') }" *ngIf="authenticated && user.isEducator">
        <div class="nav-link pointer" tabindex=0 (click)="redirect('publish/')" (keyup.enter)="redirect('publish/')"><i class="fa fa-check-square-o" aria-hidden="true"></i> Publish</div>
      </li>


    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="{ 'active': router.url.startsWith('/auth') }" *ngIf="!authenticated">
        <div class="nav-link pointer" tabindex=0 (click)="redirect('auth/')" (keyup.enter)="redirect('auth/')"><i class="fa fa-sign-in" aria-hidden="true"></i> Authenticate</div>
      </li>

      <li class="nav-item" *ngIf="authenticated">
        <div class="nav-link pointer" tabindex=0 (click)="logout()" (keyup.enter)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</div>
      </li>

      <li>
        <div class="navbar-item"><img src="{{ user.avatarUrl }}" class="avatar avatar-sm" alt="Avatar"> {{ user.firstName }} {{ user.surName }}</div>
      </li>

    </ul>
  </div>
</nav>

 
<div id="spacer">&nbsp;</div>
<router-outlet></router-outlet>

 

