<div class="title">Study</div>

<div class="panel-container">
    <div class="file-container">

        <div *ngIf="pendingContent?.length < 1 && pendingQuestions?.length < 1 && !currentQuestion && !currentContent">
            You do not have any pending content to review. You will be notified when it is time to review material.
        </div>

        <div  *ngIf="currentContent && !currentQuestion">
            <div class="error">[{{pendingContent?.length}} cards remaining]</div>
            <content-item-card 
                [contentItem]="currentContent" 
                [active]="active" 
                (test)="test($event)">
            </content-item-card>
        </div>

        <test-question *ngIf="currentQuestion"
        (marked)="marked($event)"
        [currentQuestion]="currentQuestion"></test-question>
    </div>

    <div>
        
    </div>
</div>

<simple-notifications [options]="options"></simple-notifications>

<div class="dead-container" *ngIf="loading">
  <md-spinner class="dead-center"></md-spinner>
</div>