/* You can add global styles to this file, and also import other style files */
.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #25282d; 
    border-bottom: 8px solid #fcc000; 
    border-radius: 50%;
    width: 60px;
    height: 60px;    
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

.loader-text {
    animation: dotdotdot 2s linear infinite;
}

.loader-inner {
    animation: reverse-spin 2s linear infinite;
    margin-top: 14px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 200;
    height: 200;
    margin: auto;
}

@keyframes dotdotdot {
    0%   { color: #fcc000; }
    50%  { color: #223c68; }
    100% { color: #fcc000; }
}

@keyframes reverse-spin {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(-90deg); }
    50%  { transform: rotate(-180deg); }
    75%  { transform: rotate(-270deg); }
    100% { transform: rotate(-360deg); }
}

@keyframes spin {
    0%   { transform: rotate(0deg); 
           border-top: 8px solid #223c68; 
           border-bottom: 8px solid #fcc000; 
         }
    25%  { transform: rotate(90deg); 
           border-top: 8px solid #223c68; 
           border-bottom: 8px solid #fcc000; 
         }
    50%  { transform: rotate(180deg); 
           border-top: 8px solid #223c68; 
           border-bottom: 8px solid #fcc000; 
         }
    75%  { transform: rotate(270deg); 
           border-top: 8px solid #223c68; 
           border-bottom: 8px solid #fcc000; 
         }
    100% { transform: rotate(360deg); 
           border-top: 8px solid #223c68; 
           border-bottom: 8px solid #fcc000; 
         }
}

.form-signin {
  margin-top: 25px;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #223c68;
  border-radius: 5px;
  background: white;
}

.form-signin .checkbox {
  margin-bottom: 10px;
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin-heading {
  background: #223c68;
  color: white;
  margin: -15px;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.topbar {
    background: #223c68;
    color: white;
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.full-height {
    height: 100vh;
}

.material-form {
  padding: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}

.font-large {
    font-size: 1.2em;
}

.font-xlarge {
    font-size: 2em;
    font-weight: bold;
}

.avatar {
    border-radius: 50%;
}

.avatar-sm {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    margin-top: -5px;
}

.mat-tab-body {
    padding-top: 10px;
}

.md-radio-button {
  margin: 5px;
}

.panel-container {
  padding: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
    cursor: pointer;
}

.mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content{
    padding: 0px;
}

.dead-container {
    position: fixed;
    z-index: 1;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

.dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.file-stack {
    display: flex;
    flex-flow: column;
    padding: 0px;
}

.file-container {
    padding: 10px;
    max-width: 400px;
    display: flex;
    flex-flow: column;
    flex: 0, 0, auto;
}

.file-item {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 0, 0, auto;
    border: 1px solid transparent;
}

.navbar-item {
    align-items: center;
    color: white;
    margin-top: 8px;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.middle {
    vertical-align: middle;
}

.title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    padding: 12px;
    color: #7A7A7A;
    text-align: center;
}

.file-subheading {
    margin-top: 5px;
    border-bottom: 1px solid #DCDCDC;
    color: #7A7A7A;
}

.file-heading {
    margin-top: 5px;
    border-bottom: 1px solid #DCDCDC;
    font-size: 1.3em;
}

.ui-widget.ui-button, .ui-button{
    background: #263238;
    border-color: #263238;
}

.revision-card { 
  padding: 0px;
}

.revision-card-image {
    width: 100%;
    margin-bottom: 10px;
}

.card {
    padding: 0px;
    margin: 3px;
    border: 0px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 2px;
    display: flex;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    font-family: Roboto,Helvetica Neue,sans-serif;
}

.card-content {
    padding:10px;
    font-size: 14px;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.card-head {
    font-size: 1.3em;
    border-bottom: 1px solid #DCDCDC;
    padding: 5px;
    font-weight: 400;
}

.question {
    font-size: 1.3em;
    border-bottom: 1px solid #DCDCDC;
    padding: 5px;
    font-weight: 400;
}

.selectedItem {
    border: 1px solid #263238;
    background: #263238;
    border-radius: 3px;
    color: white;
}

.deselected {
    text-decoration: line-through;
}

.ml--2{
    margin-left: -.5rem!important;
}

.dragula div {
    border: solid 1px #DCDCDC;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.error {
    color: #B71C1C;
    font-size: 75%;
    margin-top: 5px;
}

.enabled {
    color: #38b71b;
}

.disabled {
    color: #B71C1C;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.bg-faded {
    background-color: #263238;
}

#spacer {
    height: 60px;
}

.navbar-brand {
    height: 40px;
    vertical-align: middle;
}

.mat-radio-label>.mat-radio-label-content {
    white-space: normal;
    margin-left: 30px;
    width: 100%;
    display: inline-block;
}

.mat-radio-label>.mat-radio-container {
    position: absolute;
}

.mat-radio-button {
    display: block;
    width: 100%
}