<div class="title">Welcome</div>
<br>
<div class="container">
  <div class="jumbotron">
        <p>
            Welcome to Reprompt {{currentUser?.firstName}}, the examination focused e-learning system. 
            As an educator, Reprompt will allow you to manage your personal cohorts, develop and organise learning and 
            related assessment content and manage publication of aggregate packages to your students so that they are exposed 
            to the material at intervals designed to maximise their retention.
        </p>

        <p>
          It is important to consider a few guidelines when producing material for delivery through reprompt.
        </p>
          <ul>
              <li>Students can only view content that has been published to a cohort they are a member of, with an examination date in the future.</li>
              <li>You can create your own cohorts by assigning users in the system to a group.</li>    
              <li>Content packages are organised in a directory format, and consist of any number of mini-topics with their associated assessment content</li>
              <li>Keep mini-topics short, and organise them under topic folders. This allows better targeted presentation of material that requires exposure.</li>
              <li>Don't forget to produce assessment content for the mini-topics you create, this is a core principle of reprompt's learning system.</li> 
          </ul>
      
          <img src="assets/help/cohort_management.png" class="full-width" alt="Cohort Management" />


  </div>
</div>