<form #mcsaForm="ngForm" ngControl="mcsaForm" (ngSubmit)="submit()">

    <md-input-container class="full-width" *ngIf="formVisible">
        <input mdInput id="question" name="question" [(ngModel)]="question.question" type="text" placeholder="Question" required>
        <md-error>Question is required</md-error>
    </md-input-container> 
        
    <md-input-container class="full-width" *ngIf="formVisible">
        <input mdInput id="correctAnswer" name="correctAnswer" [(ngModel)]="correctAnswer.answer" type="text" placeholder="Correct Answer" required>
        <md-error>Correct Answer is required</md-error>
    </md-input-container> 

    <div class="file-subheading file-item">
        Distractors
        <div class="spacer"></div>
        <md-icon class="pointer mr-2 file-item" (click)="addDistractor()" (key.enter)="addDistractor()">add_circle</md-icon>
        <md-icon class="pointer file-item" (click)="removeDistractor()" (key.enter)="removeDistractor()">remove_circle</md-icon>
    </div>
        
    <md-input-container class="full-width" *ngFor="let distractor of distractors, let i = index">
        <input mdInput name="{{i}}" [(ngModel)]="distractors[i].answer" type="text" placeholder="Distractor" required>
        <md-error>Distractor is required. Remove if unwanted.</md-error>
    </md-input-container> 
    <br><br>
    <button md-raised-button color="accent" type="submit" [disabled]="!mcsaForm.valid">Save</button>
        
</form>


<div class="dead-container" *ngIf="loading">
  <md-spinner class="dead-center"></md-spinner>
</div>